data/raw_data/.DS_Store
data/raw_data/202501-divvy-tripdata.csv
data/raw_data/202502-divvy-tripdata.csv
data/raw_data/202503-divvy-tripdata.csv
data/raw_data/202504-divvy-tripdata.csv
data/raw_data/202505-divvy-tripdata.csv
data/raw_data/202506-divvy-tripdata.csv
data/raw_data/202507-divvy-tripdata.csv
data/raw_data/202508-divvy-tripdata.csv
data/raw_data/202509-divvy-tripdata.csv
data/raw_data/202510-divvy-tripdata.csv
data/raw_data/202511-divvy-tripdata.csv
data/raw_data/202512-divvy-tripdata.csv
